@{ Layout = "_Layout"; }

<h1>Welcome to Annies Anesthesia!!</h1>
<p>@Html.ActionLink("View all Patients!", "Index", "Patients")</p>
<p>@Html.ActionLink("See all Doctors!", "Index", "Doctors")</p>
<p>@Html.ActionLink("See all Specialties!", "Index", "Specialties")</p>