@{
  Layout = "_Layout";
}

@model AnniesAnesthesia.Models.Patient

<h2>Are you sure you want to delete this Patient?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
<<<<<<< HEAD
<<<<<<< HEAD
  <input type="submit" value="Delete" />
=======
    <input type="submit" value="Delete" />
>>>>>>> 11c407b (adds CRUD views for patients)
=======
  <input type="submit" value="Delete" />
>>>>>>> c11ef6b (junk commit with whitespace changes)
}
@Html.ActionLink("Back to List", "Index")